.question {
    position: absolute;
    inset: 0;
    display: grid;
    gap:40px;
    background: rgba(255,255,255,1);
    border-radius: 16px;
    color: #333;
    place-items: center;
    box-shadow: 0 0 10px 20px #fff;
}

.choices{
    display: flex;
    align-items: center;
    gap: 15px;
}
.button{
    background: none;
    border: 1px solid #263238;
    padding: 5px 10px;
}
