.grid{
  display: grid;
  height: calc(100vh - 54px);
  grid-template-rows: repeat(6,1fr);
}

.line{
  display: grid;
  align-items: center;
  grid-template-columns: 150px 1fr;
}

.letter{
  text-align: center;
  font-size: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color);
  small{
    font-size: 33%;
  }
}

.liste{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
  .male, .female {
    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      text-align: center;
    }
  }
  
  ul{
    display: flex;
    gap:10px;
    flex-flow: row wrap;
    list-style: none;
    li{
      background: white;
      padding: 5px 10px;
      color: black;
      border-radius: 6px;
      &.win{
        background: #3aba3c;
        color: white;
      }
      &.loss{
        background: #c10000;
        color: white;
      }
    }
  }
}

.infos{
  position: absolute;
  top: 0;
  right: 0;
}

.ss{
  --color: #287baf
}
.s{
   --color: #15acb1
 }
.a{
  --color: #3aba3c
}
.b{
  --color: #bab43a
}
.c{
  --color: #d88244
}
.d{
  --color: #fd0000
}


